- hosts: all
  become: true
  roles:
   - role: commons

- hosts: servidores_web
  become: true
  roles:
   - role: apache2

- hosts: servidores_bd
  become: true
  roles:
   - role: mariadb

- hosts: servidores_php
  become: true
  roles:
   - role: php

- hosts: servidores_nas
  become: true
  roles:
   - role: nas
